meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Pensamiento lógico
meta(meta name="description" content="El pensamiento lógico matemático permite el desarrollo de la inteligencia matemática y desarrolla la capacidad de comprensión de conceptos y de establecer relaciones basadas en la lógica, lo que permite comprender conceptos abstractos, desarrollar el razonamiento y comprensión de relaciones, es decir, que desarrolla el pensamiento y la inteligencia y la capacidad de solucionar problemas en cualquier ámbito.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")