h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 20201501-01 - Identificar situaciones problemáticas asociadas a sus necesidades de contexto aplicando procedimientos matemáticos básicos.