h2 Desarrollo de <br>contenidos
.brand-line-primary

.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Lógica', 'main.html#page/logica/')
                    +navTemaItem('2', 'Teoría de conjuntos', 'main.html#page/teoria/')
                    +navTemaItem('3', 'Potenciación, radicación y logaritmación', 'main.html#page/potenciacion/')