.container#teoria

    .header-ecored

        h1 2. Teoría de conjuntos

    .jumbotron.bg-white

        .row

            .col-12.text-center.mb-4

                img.img-fluid(src="assets/images/pages/img2.svg", style="max-width: 100%")
            
            .col-12.text-center

                img.img-fluid(src="assets/images/pages/img15.png", style="max-width: 100%")
            
            .col-12.d-flex.justify-content-center

                section
                    a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=4829" target="_blank").media-link
                        img(src="assets/images/pages/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Enlace