.container#teoria

    .header-ecored

        h1 2. Teoría de conjuntos


    .jumbotron.bg-white          
        .row.justify-content-center.align-items-center.my-5.my-lg-6 
            .col-12.col-lg-10.d-flex.justify-content-center
            a(src="/media/MC_Teoria_de_conjuntos.pdf", target="_blank")
                img.img-a.mx(src="assets/images/pages/2.jpg", alt="").img-fluid
            
     
        p.mt-5 En este momento le invitamos a repasar y practicar los conceptos aprendidos estudiando los ejemplos que encuentras en las páginas 224 – 248  del  recurso  Matemáticas simplificadas de  Aguilar, A. (2015).

        hr.hr-orange
        p Aplicación de las operaciones de conjuntos
        p En la vida cotidiana todo el tiempo estamos aplicando conjuntos; cuando se  forman grupos, se clasifican y también cuando se realizan operaciones con ellos; veamos un claro ejemplo de cómo utilizamos los conjuntos en nuestra vida cotidiana en el siguiente video:

        section
            a(href="https://www.youtube.com/watch?v=SFneXe_3AFA&feature=youtu.be" target="_blank").media-link
                img(src="assets/images/pages/icon_www.svg", alt="").media-link-icon
                .media-link-title
                    p Veamos un claro ejemplo de cómo utilizamos los conjuntos en nuestra vida cotidiana
        hr.hr-orange

                    