.container#teoria

    .header-ecored

        h1 2. Teoría de conjuntos

    .jumbotron.bg-white
        p En este momento le invitamos a repasar y practicar los conceptos aprendidos estudiando los ejemplos que encuentras en las páginas 224 – 248  del  recurso  Matemáticas simplificadas de  Aguilar, A. (2015). 
        section
            a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=4829" target="_blank").media-link
                img(src="assets/images/pages/icon_www.svg", alt="").media-link-icon
                .media-link-title
                    p consultando el siguiente enlace  