.container#teoria

    .header-ecored

        h1 2. Teoría de conjuntos


    .jumbotron.bg-white  
        p La teoría de conjuntos estudia las propiedades y operaciones de los conjuntos, observe el recurso Teoría de conjuntos haciendo clic en la imagen.         
        .row.justify-content-center.align-items-center 
            .col-12.col-lg-10.d-flex.justify-content-center
                a(href="media/documentos/MC_Teoria_de_conjuntos.pdf", target="_blank")
                    img.img-a.mx(src="assets/images/pages/2.png", alt="").img-fluid
            
        .subtitulo-guion2.mt-5 
            h3 Aplicación de las operaciones de conjuntos
        p En la vida cotidiana todo el tiempo estamos aplicando conjuntos; cuando se  forman grupos, se clasifican y también cuando se realizan operaciones con ellos; veamos un claro ejemplo de cómo utilizamos los conjuntos en nuestra vida cotidiana en el siguiente video:
        section
            a(href="https://www.youtube.com/watch?v=SFneXe_3AFA&feature=youtu.be" target="_blank").media-link
                img(src="assets/images/pages/icon_www.svg", alt="").media-link-icon
                .media-link-title
                    p <b>Material complementario.</b> Veamos un claro ejemplo de cómo utilizamos los conjuntos en nuestra vida cotidiana

        .row.my-5   
            .col-auto   
            a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=4829", target="_blank") 
                .media_link            
                    .media_link__icon.icon--lg
                        img(src="assets/images/pages/medialink.svg", alt="")
                    .media_link__txt
                        p En este momento le invitamos a repasar y practicar los conceptos aprendidos estudiando los ejemplos que encuentras en las páginas 224 – 248  del  recurso  #[strong Matemáticas simplificadas de  Aguilar, A. (2015).]