.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p 
            strong.mr-2 Conjunto:
            | colección de objetos o elemntos diferenciables entre sí.
        p
            strong.mr-2 Ilación:
            | enlace razonable y ordenado de las partes de un discurso o de una deducción lógica.
        p 
            strong.mr-2 Logaritmación:
            | es el exponente al que hay que elevar un número positivo para que de como resultado una cantidad determinada.            
        p
            strong.mr-2 Proposición:
            | enunciado que tiene la propiedad de ser verdadero o falso, pero no ambos simultáneamente.

        p
            strong.mr-2 Potenciación:
            | operación matemática mediante la cual se multiplica un número por si mismo cuantas veces indique el exponente.
        p
            strong.mr-2 Radicación:
            | proceso para hallar raices de un número 
            b a
            | .