include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Habilidades cognitivas en matemáticas
        meta(meta name="description" content="Informacioón del programa Habilidades cognitivas en matemáticas.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")


    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Habilidades cognitivas en matemáticas
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.text-white 
                                        li 
                                            span #[strong Nombre del programa:] Habilidades cognitivas en matemáticas
                                        li 
                                            span #[strong Código:] 41311611
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de Ingreso:] Edad mínima 15 años, grado mínimo de escolaridad 9°, registro en plataforma y presentación de las pruebas de: Inventario Preferencial de Ocupaciones (IPO), Habilidades Cognitivas de Asertividad (HCA) y Orientación de Rasgos de Desempeño (ORD).
                    

                            .col-12.col-lg-6
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/AhohdKu31og', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')          


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 Hola, bienvenido al curso de Habilidades Cognitivas en Matemáticas. Un curso especialmente desarrollado para que repases conceptos fundamentales en los diferentes campos de la matemática y con los cuales lograrás adquirir habilidades que podrás aplicar en la resolución de problemas de la vida cotidiana, además de desarrollar capacidades de trabajo autónomo y utilización de las tecnologías de la información y de la comunicación - TIC.

                p Durante el proceso de formación tendrás la oportunidad de afianzar conceptos y ejercitarte en el razonamiento lógico matemático, la simbología proposicional, conjuntos, potenciación y radicación; además, practicarás operaciones con números reales y recordarás cómo trabajar fracciones, sacar porcentajes y obtener equivalencias en los sistemas de medidas; también aplicarás relaciones, funciones y ecuaciones, así como la estadística y la geometría en situaciones del contexto real. 

                p Recuerda que este programa de formación busca que desarrolles competencias de razonamiento cuantitativo frente a situaciones susceptibles de ser abordadas de manera matemática, en contextos del sector productivo, social y personal. Con esta formación podrás desempeñarte en áreas de ocupación con funciones productivas, reconocidas y requeridas en el mercado laboral, y contempladas en la Clasificación Nacional de Ocupaciones – CNO.

                p Todo lo anterior lo realizarás a través de la plataforma virtual, en donde encontrarás contenidos web con ejemplos explicativos y actividades interactivas para afianzar el aprendizaje, también contarás con la orientación de tu tutor, quien te ayudará a lo largo del proceso de aprendizaje, de manera asincrónica y de forma sincrónica, en espacios programados durante la formación, en los que despejará tus dudas de manera directa. 

                p Espero que con estos recursos a tu disposición puedas aprender fácilmente, certificar tu competencia en habilidades matemáticas y cumplir con tus metas personales.

                p ¡Comencemos!


        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 El Ministerio de Educación Nacional - MEN, ha identificado que uno de los problemas que enfrenta nuestro sistema educativo es el de la alta deserción estudiantil, en todos los niveles de formación (básico, medio, superior). Las causas observadas están relacionadas, primero con la calidad educativa, la cual tiene que ver con la formación docente, el currículo, las metodologías educativas, los medios utilizados y la motivación del estudiante por graduarse; y segundo, con la pertinencia educativa, en la medida en que la oferta satisfaga las expectativas laborales, de desarrollo personal y social y de otra forma con la eficiencia educativa, ya que la deserción estudiantil conlleva altos costos sociales y económicos que afectan a las familias, a los estudiantes, a las instituciones y al Estado.

                p De acuerdo con lo anterior, el proceso formativo que se orienta en las instituciones educativas debe cobrar sentido para el educando, llenar sus expectativas personales y desarrollar las competencias que demandan el mundo laboral y social. Por lo tanto, las instituciones deben tener claro ¿en qué formar?, ¿para qué formar? y ¿dónde formar? 

                p Respecto a la primera pregunta, ¿en qué formar?; el MEN manifiesta que se debe formar en las áreas de conocimiento que permitan a los individuos desarrollar estilos de pensamiento crítico para desenvolverse en el entorno donde se encuentran, tomar decisiones y desarrollar acciones que puedan transformar la sociedad, y en este sentido, las matemáticas hacen parte de un componente transversal de conocimiento en el que se fundamentan otras disciplinas para lograr en los educandos el desarrollo de competencias para la vida, que le proporcionan poder de argumentación en el ejercicio de una cultura ciudadana crítica.

                p Respecto a la segunda pregunta, ¿para qué formar?, afirma que se forma para que los sujetos ejerzan la iniciativa y la crítica para aplicar el conocimiento en diversas situaciones y contextos, y en el caso de las matemáticas, para proporcionar destrezas en el ámbito tecnológico, económico, social, laboral y cultural. 

                p Finalmente, respecto a la pregunta ¿en dónde formar?, el MEN ha manifestado que las instituciones educativas deben innovar en las metodologías y los medios que proporciona a los educandos para el desarrollo de las competencias en el saber, saber hacer y saber ser, encontrando el dónde primeramente en los espacios curriculares de los programas, permitiendo en el caso de las matemáticas, actuar como un soporte transversal de todas las áreas de conocimiento de las diferentes disciplinas.




        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p El programa de formación está dirigido a personas mayores de 15 años, que tengan como mínimo grado 9° de escolaridad y que deseen desarrollar competencias de razonamiento cuantitativo frente a situaciones susceptibles de ser abordadas de manera matemática, en contextos del sector productivo, social y personal, con lo cual puedan desempeñarse en áreas de ocupación con funciones productivas, reconocidas en el mercado laboral y contempladas en la Clasificación Nacional de Ocupaciones – CNO.     


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad de la formación en el marco de la formación por competencias, el aprendizaje por proyectos y el uso de técnicas didácticas activas que estimulan el pensamiento para la resolución de problemas simulados y reales; soportadas en la utilización de las Tecnologías de la Información y la Comunicación - TIC, integradas en ambientes virtuales de aprendizaje - AVA, que en todo caso recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias. 

                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el que hacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:




                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El instructor  
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Tutor 
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El entorno 
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Las TIC


                p El aprendizaje se desarrollará utilizando como mediación una plataforma LMS (Learning Managemnet System), que facilitará la interacción del aprendiz con los contenidos de aprendizaje que se proponen. Para lo anterior contará con la orientación del instructor – tutor, quien guiará el proceso formativo de manera sincrónica en algunos momentos y asincrónica en otros, esto quiere decir que el aprendiz deberá emplear también un número de horas a su formación de manera autónoma para lograr mayor efectividad en la aprehensión de los conocimientos.

                p Se abordarán tres unidades temáticas: pensamiento lógico matemático, operaciones con números reales y funciones lineales, estadística y geometría, con lo cual se espera desarrollar la competencia de aplicación de dichos conocimientos a situaciones del contexto productivo y social. 

                p El aprendiz tendrá la oportunidad de afianzar los conceptos y poner en práctica lo aprendido a través de la realización de una guía de aprendizaje que propone una serie de actividades para exponer, argumentar, formular y resolver problemas del contexto real.


        +creditosFooter("assets/images/logos/senaLogo.svg")





