include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Ruta de aprendizaje
        meta(meta name="description" content="Ruta de aprendizaje programa Habilidades cognitivas en matemáticas.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")


    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Habilidades cognitivas en matemáticas
                                h1.curso-titulo Ruta de aprendizaje

                                .brand-line-primary

                                p.curso-descripcion A continuación se presentan las actividades de aprendizaje que debe realizar el aprendiz durante el proceso formativo, estableciendo los tiempos, recursos educativos y evidencias que le permitirán  cumplir con los resultados de aprendizaje definidos para el programa de formación Habilidades cognitivas en matemáticas.
                    

                            .col-12.col-lg-6
                                .d-none.d-lg-block
                                    img(src="assets/images/header/header_ruta.svg")           

        section#ruta.curso-resultados.section.bg-base-light.container

            .subtitulo-guion.my-4
                h2 Guía de aprendizaje 1 <br><small class="text-muted letter-spacing-1x font-weight-bold">Duración: 48 horas</small>

            .timeline__wrapper.jumbotron.py-3.px-5

                section#timeline
                    .timeline__item.br--bottom   
                        img(src="assets/images/ruta/inicio.svg", alt="")            
                        p Inicio              
                    .timeline-card-wrapper                              
                        .timeline-card.card--step1
                            .timeline-card__head
                                .number-box
                                    span 01
                                .title-box #[strong Actividad de aprendizaje:] Reflexionar sobre una situación del contexto donde se pueda aplicar la lógica matemática en la resolución de un problema.
                            .timeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]
                                    
                                    p Identificar situaciones problemáticas asociadas a sus necesidades de contexto, aplicando procedimientos matemáticos básicos.
                                    .tl-hr-divider
                                    p #[strong Material de formación]
                                    
                                    p Pensamiento lógico - matemático.
                                    .tl-hr-divider
                                    p #[strong Evidencias:] 
                                    
                                    p #[strong De conocimiento]

                                    p #[strong AA1-EV01: Evaluación.] Identificar los elementos fundamentales de la lógica matemática, proposiciones, conectores lógicos, lógica simbólica y terminología lógica para validar la apropiación del conocimiento.
                                    
                                    p #[strong De producto]

                                    p #[strong AA1_EV02: Ejercicio práctico.] Aplica el concepto de conjuntos, potenciación, radicales y logaritmos en una situación de la vida cotidiana.


                    .timeline-card-wrapper                              
                        .timeline-card.card--step1
                            .timeline-card__head
                                .number-box
                                    span 02
                                .title-box #[strong Actividad de aprendizaje:] Resolver un problema de proporcionalidad directa e inversa con números fraccionarios en situaciones aditivas y multiplicativas.
                            .timeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]
                                    
                                    p Plantear problemas aritméticos, geométricos y métricos de acuerdo con los contextos productivo y social.

                                    .tl-hr-divider
                                    p #[strong Material de formación]
                                    
                                    p Operaciones con Números Reales.
                                    .tl-hr-divider
                                    p #[strong Evidencias:] 

                                    p #[strong De desempeño.]

                                    p #[strong AA2-EV01: Foro.] Participa activamente socializando en qué situaciones de la vida real se puede aplicar la proporcionalidad directa e inversa. 

                                    p #[strong De conocimiento.]

                                    p #[strong AA2-EV02: Evaluación.] Resuelve situaciones cotidianas que se le plantean aplicando operaciones con fracciones y teoría de números. 
 

                    .timeline-card-wrapper                              
                        .timeline-card.card--step1
                            .timeline-card__head
                                .number-box
                                    span 03
                                .title-box #[strong Actividad de aprendizaje:] Formular un problema en un contexto real, utilizando números enteros.
                            .timeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]
                                    
                                    p Plantear problemas aritméticos, geométricos y métricos de acuerdo con los contextos productivo y social.

                                    .tl-hr-divider
                                    p #[strong Material de formación]
                                    
                                    p Operaciones con Números Reales
                                    .tl-hr-divider
                                    p #[strong Evidencias:] 

                                    p #[strong De Producto.]

                                    p #[strong AA3-EV01: Taller.] El aprendiz resuelve un problema que se le plantea, en el que aplica proporcionalidad directa e inversa, utilizando números fraccionarios y estructuras aditivas y multiplicativas; y propone un problema de la vida real, a partir del cual aplica operaciones con números enteros.


                    .timeline-card-wrapper                              
                        .timeline-card.card--step1
                            .timeline-card__head
                                .number-box
                                    span 04
                                .title-box #[strong Actividad de aprendizaje:] Ilustrar las rutas de atención y tratamiento a intoxicación / contaminación por mercurio.
                            .timeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]
                                    
                                    p Verificar los resultados de los procedimientos matemáticos conforme a los requerimientos de los diferentes contextos.

                                    .tl-hr-divider
                                    p #[strong Material de formación]
                                    
                                    p Contenido Unidad III: funciones lineales, estadística y geometría.

                                    .tl-hr-divider
                                    p #[strong Evidencias:] 

                                    p #[strong De conocimiento.]

                                    p #[strong AA4-EV01: Evaluación.] Relacionar las ecuaciones y conceptos con las opciones de respuesta, asociados con una situación del contexto real.


                    .timeline-card-wrapper                              
                        .timeline-card.card--step1
                            .timeline-card__head
                                .number-box
                                    span 05
                                .title-box #[strong Actividad de aprendizaje:] Aplicar el pensamiento espacial y los sistemas geométricos en la solución de un problema.
                            .timeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]
                                    
                                    p Verificar los resultados de los procedimientos matemáticos conforme a los requerimientos de los diferentes contextos.

                                    .tl-hr-divider
                                    p #[strong Material de formación]
                                    
                                    p Contenido Unidad III: funciones lineales, estadística y geometría.

                                    .tl-hr-divider
                                    p #[strong Evidencias:] 

                                    p #[strong De Producto.]

                                    p #[strong AA5-EV01: Resolver problema.] Se plantea un problema del contexto social, que se debe resolver  aplicando los teoremas y conceptos de relaciones y medidas estadísticas.    

                    .timeline__item.br--top                
                        img(src="assets/images/ruta/certificacion.svg", alt="")    
                        p Certificación        
                    

        +creditosFooter("assets/images/logos/senaLogo.svg")


        script(src="assets/js/vendor.js")
        script(src="assets/js/global.js")        
        script(src="assets/js/pages.js")





